<div class="pokemon-switch">
    <div class="pokemon-switch-container">
        <div class="switch-container-background">
            <img src="../../../../assets/html/game-images/pokemon_background.png">
        </div>
        <div class="pokemons-cards">
            <div class="pokemon-card-container">
                <div class="pokemon-card">
                    <div class="card">
                        <div class="card-background">
                            <img src="../../../../assets/html/game-images/pokemon_data_slot.png">
                        </div>
                        <div class="poke-ball-container">
                            <div class="poke-ball">
                                <div class="poke-ball-up">
                                    <img src="../../../../assets/html/game-images/pokeball_up.png">
                                </div>
                                <div class="poke-ball-down">
                                    <img src="../../../../assets/html/game-images/pokeball_down.png">
                                </div>
                                <div class="pokemon-sprite">
                                    <img src="../../../../assets/html/pokemons/pokemon_icons/icon_265.gif">
                                </div>
                            </div>
                        </div>
                        <div class="second-card pokemon-name">
                            <h2>WURMPLE1</h2>
                        </div>
                        <div class="second-card-level pokemon-level">
                            <h2>Lv2</h2>
                        </div>
                        <div class="pokemon-hp-hud-container">
                            <div class="pokemon-hp-hud">
                                <div class="pokemon-hp">
                                    <h2>5 / 14</h2>
                                </div>
                                <div class="pokemon-hp-bar">
                                    <img src="../../../../assets/html/game-images/pokemon_hp_bar.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pokemon-card-container">
                <div class="pokemon-card">
                    <div class="card">
                        <div class="card-background">
                            <img src="../../../../assets/html/game-images/pokemon_data_slot.png">
                        </div>
                        <div class="poke-ball-container">
                            <div class="poke-ball">
                                <div class="poke-ball-up">
                                    <img src="../../../../assets/html/game-images/pokeball_up.png">
                                </div>
                                <div class="poke-ball-down">
                                    <img src="../../../../assets/html/game-images/pokeball_down.png">
                                </div>
                                <div class="pokemon-sprite">
                                    <img src="../../../../assets/html/pokemons/pokemon_icons/icon_265.gif">
                                </div>
                            </div>
                        </div>
                        <div class="second-card pokemon-name">
                            <h2>WURMPLE2</h2>
                        </div>
                        <div class="second-card-level pokemon-level">
                            <h2>Lv2</h2>
                        </div>
                        <div class="pokemon-hp-hud-container">
                            <div class="pokemon-hp-hud">
                                <div class="pokemon-hp">
                                    <h2>5 / 14</h2>
                                </div>
                                <div class="pokemon-hp-bar">
                                    <img src="../../../../assets/html/game-images/pokemon_hp_bar.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pokemon-card-container">
                <div class="pokemon-card">
                    <div class="card">
                        <div class="card-background">
                            <img src="../../../../assets/html/game-images/pokemon_data_slot.png">
                        </div>
                        <div class="poke-ball-container">
                            <div class="poke-ball">
                                <div class="poke-ball-up">
                                    <img src="../../../../assets/html/game-images/pokeball_up.png">
                                </div>
                                <div class="poke-ball-down">
                                    <img src="../../../../assets/html/game-images/pokeball_down.png">
                                </div>
                                <div class="pokemon-sprite">
                                    <img src="../../../../assets/html/pokemons/pokemon_icons/icon_265.gif">
                                </div>
                            </div>
                        </div>
                        <div class="second-card pokemon-name">
                            <h2>WURMPLE3</h2>
                        </div>
                        <div class="second-card-level pokemon-level">
                            <h2>Lv2</h2>
                        </div>
                        <div class="pokemon-hp-hud-container">
                            <div class="pokemon-hp-hud">
                                <div class="pokemon-hp">
                                    <h2>5 / 14</h2>
                                </div>
                                <div class="pokemon-hp-bar">
                                    <img src="../../../../assets/html/game-images/pokemon_hp_bar.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pokemon-card-container">
                <div class="pokemon-card">
                    <div class="card">
                        <div class="card-background">
                            <img src="../../../../assets/html/game-images/pokemon_data_slot.png">
                        </div>
                        <div class="poke-ball-container">
                            <div class="poke-ball">
                                <div class="poke-ball-up">
                                    <img src="../../../../assets/html/game-images/pokeball_up.png">
                                </div>
                                <div class="poke-ball-down">
                                    <img src="../../../../assets/html/game-images/pokeball_down.png">
                                </div>
                                <div class="pokemon-sprite">
                                    <img src="../../../../assets/html/pokemons/pokemon_icons/icon_265.gif">
                                </div>
                            </div>
                        </div>
                        <div class="second-card pokemon-name">
                            <h2>WURMPLE4</h2>
                        </div>
                        <div class="second-card-level pokemon-level">
                            <h2>Lv2</h2>
                        </div>
                        <div class="pokemon-hp-hud-container">
                            <div class="pokemon-hp-hud">
                                <div class="pokemon-hp">
                                    <h2>5 / 14</h2>
                                </div>
                                <div class="pokemon-hp-bar">
                                    <img src="../../../../assets/html/game-images/pokemon_hp_bar.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pokemon-card-container">
                <div class="pokemon-card">
                    <div class="card">
                        <div class="card-background">
                            <img src="../../../../assets/html/game-images/pokemon_data_slot.png">
                        </div>
                        <div class="poke-ball-container">
                            <div class="poke-ball">
                                <div class="poke-ball-up">
                                    <img src="../../../../assets/html/game-images/pokeball_up.png">
                                </div>
                                <div class="poke-ball-down">
                                    <img src="../../../../assets/html/game-images/pokeball_down.png">
                                </div>
                                <div class="pokemon-sprite">
                                    <img src="../../../../assets/html/pokemons/pokemon_icons/icon_265.gif">
                                </div>
                            </div>
                        </div>
                        <div class="second-card pokemon-name">
                            <h2>WURMPLE5</h2>
                        </div>
                        <div class="second-card-level pokemon-level">
                            <h2>Lv2</h2>
                        </div>
                        <div class="pokemon-hp-hud-container">
                            <div class="pokemon-hp-hud">
                                <div class="pokemon-hp">
                                    <h2>5 / 14</h2>
                                </div>
                                <div class="pokemon-hp-bar">
                                    <img src="../../../../assets/html/game-images/pokemon_hp_bar.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pokemon-card-container">
                <div class="pokemon-card">
                    <div class="card">
                        <div class="card-background">
                            <img src="../../../../assets/html/game-images/pokemon_data_slot.png">
                        </div>
                        <div class="poke-ball-container">
                            <div class="poke-ball">
                                <div class="poke-ball-up">
                                    <img src="../../../../assets/html/game-images/pokeball_up.png">
                                </div>
                                <div class="poke-ball-down">
                                    <img src="../../../../assets/html/game-images/pokeball_down.png">
                                </div>
                                <div class="pokemon-sprite">
                                    <img src="../../../../assets/html/pokemons/pokemon_icons/icon_265.gif">
                                </div>
                            </div>
                        </div>
                        <div class="second-card pokemon-name">
                            <h2>WURMPLE6</h2>
                        </div>
                        <div class="second-card-level pokemon-level">
                            <h2>Lv2</h2>
                        </div>
                        <div class="pokemon-hp-hud-container">
                            <div class="pokemon-hp-hud">
                                <div class="pokemon-hp">
                                    <h2>5 / 14</h2>
                                </div>
                                <div class="pokemon-hp-bar">
                                    <img src="../../../../assets/html/game-images/pokemon_hp_bar.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pokemon-main-card">
            <div class="main-pokemon-card">
                <div class="main-card-background">
                    <img src="../../../../assets/html/game-images/main_pokemon_data_slot.png">
                </div>
                <div class="main-poke-ball-container">
                    <div class="main-poke-ball">
                        <div class="main-poke-ball-up">
                            <img src="../../../../assets/html/game-images/pokeball_up.png">
                        </div>
                        <div class="main-poke-ball-down">
                            <img src="../../../../assets/html/game-images/pokeball_down.png">
                        </div>
                        <div class="main-pokemon-sprite">
                            <img src="../../../../assets/html/pokemons/pokemon_icons/icon_252.gif">
                        </div>
                    </div>
                </div>
                <div class="main-card pokemon-name">
                    <h2>WURMPLE6</h2>
                </div>
                <div class="main-card-level pokemon-level">
                    <h2>Lv2</h2>
                </div>
                <div class="main-pokemon-hp-hud-container">
                    <div class="main-pokemon-hp-hud">
                        <div class="pokemon-hp">
                            <h2>5 / 14</h2>
                        </div>
                        <div class="pokemon-hp-bar">
                            <img src="../../../../assets/html/game-images/pokemon_hp_bar.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="cancel-button" style="display: none;">
            <div class="cancel-button-container">
                <div class="cancel-button-background">
                    <img src="../../../../assets/html/game-images/pokemon_cancel_btn.png">
                </div>
            </div>
        </div> -->
    </div>
    <div class="fainted-dialog-box">
    </div>
</div>