.skills-about-container {
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
        to bottom,
        #297ba5,
        #297ba5 3vw,
        #6bb5d6 3vw,
        #6bb5d6 6vw
    );
    font-family: 'pokemon-font';
    user-select: none;
}

@media (max-width: 767px) {
    .trainer-card {
        display: none;
    }

    .bag {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        padding-top: 25%;
        box-sizing: border-box;
    }

    .bag-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .bag-background {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .bag-background img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .inventory-header-container {
        position: relative;
        width: 68vw;
        height: 18vw;
        margin-left: 5vw;
    }

    .inventory-header {
        position: absolute;
        top: -85%;
    }

    .inventory-container {
        position: relative;
        width: 68vw;
        height: 18vw;
        display: flex;
        justify-content: center;
    }

    .inventory-background {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .inventory-background img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .inventory-container .header-title {
        position: absolute;
        height: 73%;
        margin-left: 9vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        overflow: hidden;
    }

    .transition-container {
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
    }

    .header-title .text-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .text {
        white-space: nowrap;
        min-width: 100%;
        font-size: 7vw;
        margin: 0;
        margin-bottom: -1vw;
        text-align: center;
    }

    .arrow {
        position: absolute;
        width: 8vw;
        height: 12vw;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .movil-arrow-right {
        right: 0;
        animation: rigthmove 0.6s ease-in infinite;
    }

    .movil-arrow-left {
        left: 11.5vw;
        animation: leftmove 0.6s ease-in infinite;
    }

    @keyframes rigthmove {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(3vw);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes leftmove {
        0% {
            transform: translateX(0) rotateY(180deg);
        }

        50% {
            transform: translateX(-3vw) rotateY(180deg);
        }

        100% {
            transform: translateX(0) rotateY(180deg);
        }
    }

    .inventory-body {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10.5vw 4vw;
        box-sizing: border-box;
    }

    .inventory-content {
        max-height: 0;
        background-color: #ffffce;
        transition: max-height 0.3s ease-out;
        padding: 1rem;
        box-sizing: border-box;
        font-size: 0.9rem;
        overflow-y: scroll;
    }

    .content-about {
        display: none;
    }

    .content-skills {
        display: none;
    }

    .inventory-content.expanded {
        height: 100%;
        max-height: 100%;
    }

    .inventory-content h1,
    .inventory-content h2 {
        display: inline;
        margin: 0;
    }

    .inventory-content .data-set {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    /* Posiciones definidas */
    .center {
        transform: translateX(0);
    }

    .off-right {
        transform: translateX(100%);
    }

    .off-left {
        transform: translateX(-100%);
    }

    /* Clases para la animación de salida */
    .slide-out-left {
        transform: translateX(-100%);
    }

    .slide-out-right {
        transform: translateX(100%);
    }

    /* Clase para animar la entrada (siempre al centro) */
    .slide-in {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .bag {
        display: none;
    }

    .skills-about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: repeating-linear-gradient(
            to bottom,
            #297ba5,
            #297ba5 0.8vw,
            #6bb5d6 0.8vw,
            #6bb5d6 1.6vw
        );
    }

    .trainer-card {
        position: relative;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 2500px;
    }

    .card-inner {
        width: 80%;
        aspect-ratio: 547 / 336;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1s ease-in-out;
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 5vw;
        height: 10vw;
        animation: blink 1.5s infinite linear;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            image-rendering: crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(200deg);
        }
    }

    .arrow-left {
        transform: rotateY(180deg) translateY(-50%);
        left: -5vw;
    }

    .arrow-right {
        right: -5vw;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .card-face {
        position: absolute;
        width: 100%;
        aspect-ratio: 547 / 336;
    }

    .face-back {
        transform: rotateY(180deg) translateZ(1px);
    }

    .face-front {
        transform: translateZ(1px);
    }

    .card-border {
        position: absolute;
        height: 100%;
        width: 15px;
        transform: rotateY(90deg) translateZ(-9px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    }

    .trainer-card-background {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .trainer-card-background img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .card-container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .card-content {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 1.2vw;
    }

    .trainer-id,
    .trainer-name,
    .trainer-text,
    .trainer-about {
        position: absolute;
        height: 8.5%;
    }

    .trainer-id {
        width: 25%;
        top: 9%;
        right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trainer-name {
        width: 80%;
        top: 9%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trainer-text {
        width: 85%;
        left: 8%;
    }

    .trainer-about {
        width: 90%;
        left: 8%;
    }

    .trainer-text.name {
        top: 25%;
    }

    .trainer-text.name h2::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0.1em;
        width: 11em;
        height: 0.11em;
        background-color: #646464;
        box-shadow: 0 0.1em #cecece;
    }

    .trainer-text.skills {
        top: 38%;
    }

    .trainer-text.softs {
        top: 56%;
    }

    .trainer-about.about:nth-of-type(2) {
        top: 30%;
    }

    .trainer-about.about:nth-of-type(3) {
        top: 42%;
    }

    .trainer-about.about:nth-of-type(4) {
        top: 53%;
    }

    .trainer-about.about:nth-of-type(5) {
        top: 64%;
    }

    .trainer-about.about:nth-of-type(6) {
        top: 76%;
    }

    .trainer-about.about:nth-of-type(7) {
        top: 88%;
    }

    .trainer-id h2,
    .trainer-name h2,
    .trainer-text h2,
    .trainer-about h2 {
        font-family: 'pokemon-font';
        color: #646464;
        letter-spacing: 0.1em;
        margin: 0;
        margin-bottom: -0.3em;
    }

    .trainer-id h2 {
        text-shadow: 0.05em 0.12em #d6d6ce;
        padding: 25px 45px;
        font-size: 2.3em;
    }

    .trainer-name h2 {
        text-shadow: 0.05em 0.12em #d6d6ce;
        padding: 25px 45px;
        font-size: 2.3em;
    }

    .trainer-text h2 {
        text-shadow: 0.05em 0.12em #cecece;
        font-size: 1.7em;
        line-height: 140%;
    }

    .trainer-about h2 {
        text-shadow: 0.05em 0.12em #cecece;
        font-size: 1.3em;
    }

    .trainer-text::before,
    .trainer-text::after {
        content: '';
        position: absolute;
    }

    .trainer-text::before {
        top: 0.3em;
        left: -1em;
        width: 0.77em;
        height: 1.4em;
        background-color: #84de73;
        z-index: 1;
    }

    .trainer-text::after {
        top: 0.5em;
        left: -0.85em;
        width: 0.45em;
        height: 1em;
        background-color: #94ef84;
        z-index: 2;
    }
}
