.menu-item {
    font-family: 'pokemon-font', sans-serif;

    .item {
        position: relative;
        margin-left: 2rem;
        cursor: pointer;

        &:hover::before {
            content: '';
            display: block;
            position: absolute;
            width: 2rem;
            height: 2rem;
            left: -0.5rem;
            top: 0.5rem;
            background-image: var(--svg-arrow);
            background-size: contain;
            background-repeat: no-repeat;
            filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
        }
    }

    h1 {
        margin: 0;
        padding: 10px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.18);
        color: #2c3434c5;
        font-size: 2.5rem;
    }
}
