<div class="header-container">
    <div class="header">
        <div class="logo-container">
            <div class="logo">
                <div class="logo-background">
                    <img src="../../../../assets/html/layout/wood_sign.png">
                </div>
                <h1></h1>
            </div>
        </div>
        <div class="menu-container">
            <button class="open-menu-btn">
                <div class="shadow-box">
                </div>
                <img class="close-btn-img" src="../../../../assets/html/layout/close_btn.png" alt="">
                <img class="menu-btn-img" src="../../../../assets/html/layout/menu_btn.png" alt="">
            </button>

            <div class="menu-body-container">
                <div class="menu-body">
                    <div class="menu-items">
                    </div>
                    <div class="menu-background">
                        <img src="../../../../assets/html/layout/menu_content.png">
                    </div>
                    <div class="close-menu">
                        <div class="close-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>